html,
body,
main,
#app {
  height: 100%;
  width: 100%;
  font-family: "Special Elite", cursive;
  color: white;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #343a40;
}

// hr {
//   max-width: 90%;
//   margin: 0 auto;
//   border: 1px solid black;
//   width: 100%;
//   background-color: black;
//   opacity: 1;
//   margin-top: 1rem;
//   border-radius: 50%;
// }

main {
  flex-grow: 1;
  padding: 2rem;
}

header, main, footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  &:focus{
    outline: none !important;
    border: none;
  }
}

