html,
body,
main,
#app {
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-family: "Special Elite", cursive;
  color: white;
}

header {
  background-color: black;
  border-bottom: 1px solid white;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #343a40;
}

main {
  flex-grow: 1;
  padding: 2rem;
}

header, main, footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  &:focus{
    outline: none !important;
    border: none;
  }
}

