@import "../node_modules/rfs/scss";

// Main Title - App Name
.main__title {
  text-transform: uppercase;
  margin: 0;
  padding-top: 30px;
}
.header__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

// Alert
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.alert-fixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0px;
  text-align: center;
  z-index: 99999999;
}

// Scroll On Top Button
.scroll_on_top{
  position: fixed;
  bottom: 0;
  right: .5rem;
  background: rgba(255,255,255, .2);
  border: none;
  border-radius: 5px;
  z-index: 10;
}


// Table
table {
  border: 1px solid;
  border-color: #212529 !important;
  border-collapse: collapse !important;
}
thead {
  cursor: default;
  text-transform: uppercase;
  th {
    vertical-align: middle;
    background-color: black !important;
  }
}
.table > :not(caption) > * > * {
  border-bottom-width: 0px;
  min-width: 85px;
}

// Star Rating
#star-rating {
  padding: 0.375rem 0.75rem;
  margin-right: 0.1rem;
}
.rate__num {
  margin-left: 0.1rem;
}
.rate__limit {
  font-size: 0.7rem;
}

// Modal
.modal-header {
  color: #fff;
  background-color: black;
  border-bottom: var(--bs-modal-header-border-width) solid white;
}
.delete__msg {
  padding: 2rem 0;
  text-align: center;
  @include font-size(1.2rem);
}
.modal-content {
  background-color: #2c3034;
}
.modal-footer {
  border-top: var(--bs-modal-footer-border-width) solid white;
  @media screen and (max-width: 748px) {
    justify-content: space-around;
  }
}

// No Movies
.no__movies--text {
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 748px) {
    margin-top: 60px;
    max-width: 60%;
    padding: 1rem 0.5rem;
    outline: 1px solid white;
  }
}
.error {
  color: rgb(220, 53, 69);
  input {
    outline: 2px solid rgb(220, 53, 69) !important;
    animation: shake 0.2s ease-in-out 0s 2;
    @keyframes shake {
      0% {
        margin-left: 0rem;
      }
      25% {
        margin-left: 0.5rem;
      }
      75% {
        margin-left: -0.5rem;
      }
      100% {
        margin-left: 0rem;
      }
    }
  }
}

// Icons
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add__movie--icon {
  margin-top: 5px;
  padding: 0.5rem;
  border: 1px solid green;
  background-color: green;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.download__icon {
  margin-top: 5px;
  padding: 0.5rem;
  filter: drop-shadow(-1px 4px 8px rgba(0, 0, 0, 0.55));
}
.table__buttons--top {
  display: flex;
  justify-content: flex-end;
}
.fa-bounce:not(:hover) {
  animation: none;
}
.fa-shake:not(:hover) {
  animation: none;
}
.fa-beat:not(:hover) {
  animation: none;
}

// Footer
.footer__wrapper {
  position: relative;
  margin-top: auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: white;
}
.rights {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.8rem;
}

// Social Links
.social-links {
  display: flex;
  justify-content: center;
  gap: 3.5rem;
  align-items: center;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}

// Table Responsiveness
@media screen and (max-width: 748px) {
  .table__buttons--top {
    display: flex;
    justify-content: space-evenly;
  }
  .table > :not(caption) > * > * {
    border-bottom-width: 1px;
    padding-left: 90px;
  }
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border: 1px solid #212529;
    display: block;
    margin-bottom: 1.625em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
  table td {
    position: relative;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }
  table td::before {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
